body{

margin:0;

font-family:Tajawal;

background:#020617;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

color:white;

}

.panel{

background:#0f172a;

padding:40px;

border-radius:12px;

display:flex;

flex-direction:column;

gap:10px;

width:300px;

}

input,select{

padding:8px;

border:none;

border-radius:6px;

}

button{

background:#2563eb;

border:none;

padding:8px;

color:white;

border-radius:6px;

cursor:pointer;

}